<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | {{ config.openapi_title }}</title>
    <link rel="icon" href="{{ renderer.prefix_base_url('/static/favicon.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ renderer.prefix_base_url('/static/main.css') }}">
</head>
<body>
    {% include "header.html" %}
    {% include "nav_bar.html" %}
    <main id="main">
        <section id="home">
            <h1>Home</h1>
            <div class="form-container">
                <div class="form-group">
                    <label for="program">Program:</label>
                    <select id="program">
                        <option value="" disabled selected>Choose a program</option>
                        {% for i in range(config.resource_ids | length) %}
                        <option value="{{ config.resource_ids[i] }}">{{ config.resource_program_names[i] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="nationalID">National ID:</label>
                    <input type="text" id="nationalID" placeholder="Type ID">
                </div>
                <button id="submitBtn">Submit</button>
            </div>
            <div id="formResponse"></div>
        </section>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const submitBtn = document.getElementById('submitBtn');
            const programSelect = document.getElementById('program');
            const nationalIdInput = document.getElementById('nationalID');
            const response = document.getElementById('formResponse');
            const queryApiUrl = "{{ renderer.prefix_api_url('/query') }}";

            submitBtn.addEventListener('click', function(event) {
                event.preventDefault();
                if(!programSelect.value || !nationalIdInput.value.trim()){
                    response.classList.add("form-response");
                    response.innerHTML = `<p class="centered error-text">Program or National ID cannot be empty</p>`;
                } else {
                    submittingButtonChange();
                    fetch(queryApiUrl, {
                        headers: {"content-type": "application/json"},
                        method: "POST",
                        body: JSON.stringify({
                            resource_id: programSelect.value,
                            query: {
                                nationalID: nationalIdInput.value.trim(),
                            },
                        })
                    }).then((res) => {
                        return res.json();
                    }).then((res) => {
                        console.log("API Response.", res);
                        if (res.error) {
                            response.classList.add("form-response");
                            response.innerHTML = `<p class="centered error-text">${res.error.title}. ${res.error.detail}</p>`;
                        } else if (!res.result || !res.result.length){
                            response.classList.add("form-response");
                            response.innerHTML = `<p class="centered error-text">Not Found</p>`;
                        } else {
                            let result = res.result[0];
                            response.classList.add("form-response");
                            response.innerHTML = `<table>
                                <tr>
                                    <td class="key">Status:</td>
                                    <td class="value"><span class="status-${result.status}">${capitalize(result.status)}</span></td>
                                    <td class="key">Program Name:</td>
                                    <td class="value">${getValueOrEmpty(result.programName)}</td>
                                </tr>
                                <tr>
                                    <td class="key">Beneficiary ID:</td>
                                    <td class="value">${getValueOrEmpty(result.beneficiaryID)}</td>
                                    <td class="key">Enrollment Date:</td>
                                    <td class="value">${getValueOrEmpty(result.enrollmentDate)}</td>
                                </tr>
                                <tr>
                                    <td class="key">National ID:</td>
                                    <td class="value">${getValueOrEmpty(result.nationalID)}</td>
                                </tr>
                            </table>`;
                        }
                    }).catch((res) => {
                        console.error("Error making query", res);
                        response.classList.add("form-response");
                        response.innerHTML = '<p class="centered error-text">Error while making query</p>';
                    }).finally(() => {
                        resetSubmitButton();
                    });
                }
            });

            function submittingButtonChange() {
                submitBtn.disabled = true;
                submitBtn.innerHTML = 'Submitting...';
            }

            function resetSubmitButton() {
                submitBtn.disabled = false;
                submitBtn.innerHTML = 'Submit';
            }

            function getValueOrEmpty(str){
                if (str) return str;
                return "";
            }

            function capitalize(str){
                if (!str) return "";
                return str.charAt(0).toUpperCase() + str.slice(1);
            }
        });
    </script>
    {% include "footer.html" %}
</body>
</html>
